main.retry
*downloadedskins*
*dumps*
*identities*
*lua_sandbox*
*downloadedmaps*
*screenshots*
*downloadedskins*
*ghosts*
*teehistorian*
*demos*
*maps*
*tmp*
tags
ddnet-info.json
*skins*
ddnet-saves.txt
*workspace*

# ignore nvim temp files
undo
backup
swap
