layout {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            hide_frame_for_single_pane "false"

            format_left  "{mode}#[fg=#90b99f,bg=#161617] //  #[fg=#aca1cf,bg=#161617]{session} #[fg=#90b99f,bg=#161617] ::"
            format_center "{tabs}"
            format_right "{command_kubectx}#[fg=#90b99f,bg=#161617]:: {datetime}"
            format_space "#[bg=#161617]"

            mode_normal          "#[bg=#161617,fg=#90b99f,bold] INSERT "
            mode_pane            "#[bg=#161617,fg=#e29eca,bold] NORMAL "
            mode_locked          "#[bg=#161617,fg=#FB467B,bold] LOCKED "
            mode_resize          "#[bg=#161617,fg=#f5a191,bold] RESIZE "
            mode_scroll          "#[bg=#161617,fg=#aca1cf,bold] SCROLL "
            mode_search          "#[bg=#161617,fg=#ea83a5,bold] SEARCH "
            mode_enter_search    "#[bg=#161617,fg=#ea83a5,bold] SEARCH "
            mode_rename_tab      "#[bg=#161617,fg=#e6b99d,bold] RENAME "
            mode_rename_pane     "#[bg=#161617,fg=#e6b99d,bold] RENAME "
            mode_session         "#[bg=#161617,fg=#f5a191,bold] SESSION"

            tab_normal               "#[fg=#2a2a2d,bg=#161617] {index} {name}{fullscreen_indicator}{sync_indicator}{floating_indicator} "
            tab_active               "#[fg=#c9c7cd,bg=#161617,bold] {index} {name}#[fg=#FB467B,bg=#161617]{fullscreen_indicator}#[fg=#90b99f,bg=#161617]{sync_indicator}#[fg=#f5a191,bg=#161617]{floating_indicator} "
            // tab_separator            "#[fg=#2a2a2d,bg=#161617]┋"
            tab_separator            "#[fg=#2a2a2d,bg=#161617]•"
            // tab_separator            "#[fg=#c9c7cd,bg=#161617]"
            tab_fullscreen_indicator "'"
            tab_sync_indicator       "'"
            tab_floating_indicator   "'"

            datetime          "#[fg=#aca1cf,bg=#161617] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"

            // format_left  "{mode}#[fg=#E0C285,bg=#2c2219,bold] {session}▕#[bg=#000000] {tabs}"
            // format_right "{command_kubectx}#[fg=#424554,bg=#000000]:: {datetime}"
            // format_space "#[bg=#000000]"
            //
            // mode_normal          "#[fg=#05080A,bg=#E0C285,bold] INSERT "
            // mode_pane            "#[fg=#05080A,bg=#FFCC00,bold] NORMAL "
            // mode_locked          "#[fg=#05080A,bg=#FB467B,bold] LOCKED "
            // mode_resize          "#[fg=#05080A,bg=#B267E6,bold] RESIZE "
            // mode_scroll          "#[fg=#05080A,bg=#56D6D6,bold] SCROLL "
            // mode_search          "#[fg=#05080A,bg=#CB6CFE,bold] SEARCH "
            // mode_enter_search    "#[fg=#05080A,bg=#CB6CFE,bold] SEARCH "
            // mode_rename_tab      "#[fg=#05080A,bg=#A6E22E,bold] RENAME "
            // mode_rename_pane     "#[fg=#05080A,bg=#A6E22E,bold] RENAME "
            // mode_session         "#[fg=#05080A,bg=#F78C6C,bold] SESSION"
            //
            // tab_normal               "#[fg=#5C6370,bg=#000000] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            // tab_active               "#[fg=#FFFFFF,bg=#000000,bold] {index} {name} #[fg=#A6E22E,bg=#000000]{fullscreen_indicator}#[fg=#F44747,bg=#000000]{sync_indicator}#[fg=#E0C285,bg=#000000]{floating_indicator}"
            // tab_separator            "#[fg=#424554,bg=#000000]┋"
            // // tab_separator            "#[fg=#424554,bg=#000000]"
            // tab_fullscreen_indicator " "
            // tab_sync_indicator       " "
            // tab_floating_indicator   " "
            //
            // datetime          "#[fg=#9399B2,bg=#000000] {format} "
        }
    }
    pane
}
