- name: Create swap, backup, undo and autoload folders for NeoVim
  file:
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - "{{ config_dir }}/nvim/undo"
    - "{{ config_dir }}/nvim/backup"
    - "{{ config_dir }}/nvim/swap"
    - "{{ home_dir }}/.local/share/nvim/site/autoload"

- name: Create swap, backup, undo and autoload folders for Vim
  file:
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - "{{ home_dir }}/.vim/undo"
    - "{{ home_dir }}/.vim/backup"
    - "{{ home_dir }}/.vim/swap"
    - "{{ home_dir }}/.vim/autoload"

- name: Install Vim-Plug for NeoVim
  get_url:
    url: "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    dest: "{{ home_dir }}/.local/share/nvim/site/autoload/plug.vim"

- name: Install Vim-Plug for Vim
  get_url:
    url: "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    dest: "{{ home_dir }}/.vim/autoload/plug.vim"

- name: Link NeoVim config
  file:
    src: "{{ role_path }}/files/init.vim"
    dest: "{{ config_dir }}/nvim/init.vim"
    state: link

- name: Link Vim config
  file:
    src: "{{ role_path }}/files/init.vim"
    dest: "{{ home_dir }}/.vimrc"
    state: link

# - import_tasks: macos.yml
#   when: ansible_os_family == "Darwin"

# - import_tasks: arch.yml
#   when: ansible_os_family == "ArchLinux"
